p {
    padding: 10px;
    background-color: #ffaaff;
  }

#localmap {
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    height: 400px; 
    width: 1000px;
    }

#table {
  width:75%;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
}

#Title {
  display: flex;
  align-items: center;
}